<a href="https://colab.research.google.com/github/wanchenlang-max/Midterm-Project-Phase-1/blob/main/01_Data_Cleaning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:

import os
import zipfile

project_folder = "/content/replication_project"
raw_folder = project_folder + "/data/raw"

os.makedirs(raw_folder, exist_ok=True)

print("Folder created successfully")


zip_url = "https://davidcard.berkeley.edu/data_sets/njmin.zip"
zip_path = raw_folder + "/njmin.zip"

!wget -O "$zip_path" "$zip_url"

print("Data download complete")

with zipfile.ZipFile(zip_path, "r") as zip_ref:
    zip_ref.extractall(raw_folder)

print("Decompression complete")

print("\n raw Folder contents：")
for file in os.listdir(raw_folder):
    print(" -", file)

Folder created successfully
--2026-02-23 02:45:22--  https://davidcard.berkeley.edu/data_sets/njmin.zip
Resolving davidcard.berkeley.edu (davidcard.berkeley.edu)... 128.32.105.8
Connecting to davidcard.berkeley.edu (davidcard.berkeley.edu)|128.32.105.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23017 (22K) [application/zip]
Saving to: ‘/content/replication_project/data/raw/njmin.zip’

/content/replicatio 100%[===================>]  22.48K  --.-KB/s    in 0s

2026-02-23 02:45:23 (93.6 MB/s) - ‘/content/replication_project/data/raw/njmin.zip’ saved [23017/23017]

Data download complete
Decompression complete

 raw Folder contents：
 - check.sas
 - read.me
 - njmin.zip
 - survey1.nj
 - public.dat
 - survey2.nj
 - codebook

In [14]:
import pandas as pd

file_path = "/content/replication_project/data/raw/public.dat"


df = pd.read_fwf(file_path)

print("Data Shape：", df.shape)
df.head()

Data Shape： (409, 46)

,46,1,0,0.1,0.2,0.3,0.4,1.1,0.5,0.6,...,0.08,1.6,2.1,6.50.1,16.50.1,1.03.2,..3,0.94,4,4.1
0,49,2,0,0,0,0,0,1,0,0,...,0.05,0,2,10.00,13.00,1.01,0.89,2.35,4,4
1,506,2,1,0,0,0,0,1,0,0,...,0.25,.,1,11.00,11.00,0.95,0.74,2.33,4,3
2,56,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,0.92,0.79,0.87,2,2
3,61,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,1.01,0.84,0.95,2,2
4,62,4,1,0,0,0,0,1,0,0,...,.,0,2,10.00,12.00,.,0.84,1.79,3,3

In [15]:
import pandas as pd

file_path = "/content/replication_project/data/raw/public.dat"


df = pd.read_fwf(file_path, header=None)

print("Data Shape:", df.shape)


df.columns = [f"var_{i}" for i in range(df.shape[1])]

df.head()

Data Shape: (410, 46)

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45
0,46,1,0,0,0,0,0,1,0,0,...,0.08,1,2,6.50,16.50,1.03,.,0.94,4,4
1,49,2,0,0,0,0,0,1,0,0,...,0.05,0,2,10.00,13.00,1.01,0.89,2.35,4,4
2,506,2,1,0,0,0,0,1,0,0,...,0.25,.,1,11.00,11.00,0.95,0.74,2.33,4,3
3,56,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,0.92,0.79,0.87,2,2
4,61,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,1.01,0.84,0.95,2,2

In [16]:
import os

os.makedirs("/content/replication_project/data/processed", exist_ok=True)


output_path = "/content/replication_project/data/processed/njmin_public_processed.csv"
df.to_csv(output_path, index=False)

print("Saved to：", output_path)

Saved to： /content/replication_project/data/processed/njmin_public_processed.csv

In [21]:
import os, shutil

ROOT = "/content/replication_project"


os.makedirs(f"{ROOT}/notebooks", exist_ok=True)

print(" notebooks Folder has been created：", f"{ROOT}/notebooks")

 notebooks Folder has been created： /content/replication_project/notebooks

In [18]:
gitignore_text = """# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store


# data/raw/
# data/processed/
"""

path = "/content/replication_project/.gitignore"
with open(path, "w", encoding="utf-8") as f:
    f.write(gitignore_text)

print("Generated .gitignore：", path)

Generated .gitignore： /content/replication_project/.gitignore

In [19]:
import shutil
shutil.make_archive("/content/replication_project", "zip", "/content/replication_project")
print("Packaged：/content/replication_project.zip")

Packaged：/content/replication_project.zip